html{
    background-attachment:local;
    background-color: rgb(159, 158, 158);
    background-image: url("bike.png");
    background-blend-mode: soft-light;
    background-size: 45em;
    background-repeat: repeat-x
}

header{}
body {
    font-family: "Teko", sans-serif;
    font-size: 2em;
    font-weight: 100;
    text-align: left;
    text-decoration:none;
    text-transform:none;
    line-height: auto ;
    width: 90%;
    margin: auto;
    padding: 0em;
   
}

div id: #wrapper {
        width: 80%;
        margin: auto;
    }
    .columns {float:left;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #wrapper {
        width: 90%;
        margin: auto;
        }
        .column {
        width: 33.33%;
        float: left;
        margin: 10%;
        }
        @media only screen and (max-width: 480px) {
        .column {
        width: 100%;
        float: left;
        margin: 0%;
        }
        }


div #bio{
    padding:10%;
}


header{
    width:50%;
    height:50px;
    padding-top: 0%;}

    header {
        display: block;
        unicode-bidi: isolate;
    }

h1 {color:rgb(4, 119, 90);
    line-height: .75em;
    font-family: "Teko", sans-serif;
    font-size: 5em;  
} 

h2 { justify-content: left;

}

ul#mainNav{ 
    list-style-type:square;
    text-align:left;
    width: 50%;
    padding: 0;
    margin: auto;
    display: inline;
}

img {
    width: 50%;
    overflow: auto;
}

.col-6 {
    width: 50%
}

.col-12 {
    width: 100%;
}

article { 



}



a:link {color: rgb(1, 65, 224)}
a:visited {color: rgb(0, 0, 0);}
a:hover {color:rgb(4, 119, 90)}

footer {
    color:rgb(4, 119, 90);
    clear:left;
    margin-top: auto;
    padding: 0;
    width: 80%;
}

.mailto {
    color:rgb(4, 119, 90);
}

